name: Deploy Docs
on:
  push:
    branches: [main]
    paths:
      - 'sdk/docs/**'
      - 'sdk/mkdocs.yml'
      - 'sdk/src/**'
      - 'sdk/scripts/**'
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: pip install mkdocs-material mkdocstrings[python] mkdocs-gen-files mkdocs-literate-nav mkdocs-section-index
      - run: cd sdk && mkdocs gh-deploy --force
